<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>离职定义</title>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="css/quit.css"/>
	</head>
	<body>
		
		<div id="ctx">
			<div class="container-fluid">
				<div class="row">
					<div>
						<span>离职定义</span>
					</div>
					<div>
						<div style="float: right;box-sizing: border-box;padding-right: 100px;padding-top: 13px;">
							<input type="text" placeholder="匹配工号/姓名" style="height: 35px;margin-right: 10px;width: 300px;outline:none;" />
							<button class="btn btn-success" style="width: 100px;margin-right: 10px;">搜索</button>
							<button class="btn btn-default" style="width: 70px;">关闭</button>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 col-xs-12" style="box-sizing: border-box;background-color: #F7F7F7;border: 1px solid #E9E9E9;">
						<ul>
							<li @click="quitstaff"><span class="glyphicon glyphicon-user"></span>离职</li>
							<li><span class="glyphicon glyphicon-cog"></span>回滚</li>
							<li @click="open"><span class="glyphicon glyphicon-folder-open"></span>打开</li>
							<li><span class="glyphicon glyphicon-remove-sign"></span>删除</li>
							<li><span class="glyphicon glyphicon-export"></span>导出</li>
						</ul>
					</div>
					<div class="col-md-12 col-xs-12" style="border-left: 1px solid #E9E9E9;">
						<table class="table table-hover" style="width: 70%;">
						  <thead>
						  	<tr>
						  		<td>         </td>
						  		<td>部门</td>
						  		<td>员工编号</td>
						  		<td>姓名</td>
						  		<td>性别</td>
						  		<td>职位</td>
						  		<td>离职日期</td>
						  		<td>离职原因............</td>
						  	</tr>
						  </thead>
						  <tbody>
						  	<tr v-for="q in quits">
						  		<td>   </td>
						  		<td>{{q.mname}}</td>
						  		<td>{{q.sno}}</td>
						  		<td>{{q.pname}}</td>
						  		<td>{{q.psex}}</td>
						  		<td>{{q.jname}}</td>
						  		<td>{{q.rdate}}</td>
						  		<td>{{q.rreason}}</td>
						  	</tr>
						  </tbody>
						</table>
					</div>
				</div>
				<div class="row" style="font-size: 17px;box-sizing: border-box;padding-left: 20px; padding-top: 13px;background-color: ghostwhite;">
					合计：<span>12</span>条记录
				</div>
			</div>
			<div id="addstaff">
				<p style="padding: 2px;background-color: #858585;font-weight: bold;color: #D6D6CE;">员工卡片</p>
				<div style="width: 980px;height: 630px;border:1px solid white;margin-left: 10px;background-color: white;">
					<div style="width: 960px;height: 60px;margin-left: 10px;">
						<div style="display: inline-block;width: 200px;height: 60px;font-size: 30px;box-sizing: border-box;padding-top: 5px;">员工卡片</div>
						<div @click="closeadd" class="clo" style="display: inline-block;width: 100px;height: 60px;box-sizing: border-box;float:right;font-size: 50px;text-align: right;">X</div>
						<button class="btn-success" style="float: right;width: 100px;height: 40px;margin-top: 10px;">保存</button>
					</div>
					<div style="width: 960px;height: 555px;margin-left: 10px;background-color: #D6D6CE;color:#44BDCA;box-sizing: border-box;padding-left: 20px;">
						<p style="padding-top: 10px;">
							<label><span style="color: red;">*</span>员工编号</label><input />
							<label><span style="color: red;">*</span>员工姓名</label><input />
							<label><span style="color: red;">*</span>性别</label><input />
						</p>
						<p>
							<label><span style="color: red;">*</span>所在门店</label><input />
							<label><span style="color: red;">*</span>所在部门</label><input />
						</p>
						<p>
							<label>登录账号</label><input />
							<label>岗位</label><input />
							<label>身体状况</label><input />
						</p>
						<p>
							<label>身高</label><input />
							<label>籍贯</label><input />
							<label>名族</label><input />
						</p>
						<p>
							<label>婚姻状况</label><input />
							<label>学历</label><input />
							<label>毕业学校</label><input />
						</p>
						<p>
							<label>专业</label><input />
							<label>专业资格</label><input />
							<label><span style="color: red;">*</span>属性</label><input />
							<label>学位</label><input />
						</p>
						<p>
							<label>编制</label><input />
							<label>身份证号</label><input />
							<label>户口地址</label><input />
						</p>
						<p>
							<label>现住地址</label><input />
							<label>联系电话</label><input />
							<label>手机</label><input />
						</p>
						<p>
							<label>EMAIL</label><input />
							<label>开户银行</label><input />
							<label>银行账号</label><input />
						</p>
						<p style="padding-top: 20px;">
							<label>紧急联系人</label><input />
							<label>联系电话</label><input />
						</p>
						<p>
							<label>入职日期</label><input />
							<label>试用到期</label><input />
							<label>出生日期</label><input />
							<label>合同开始</label><input />
						</p>
						<p>
							<label>合同结束</label><input />
							<label>卡自编号</label><input />
							<label>卡内部号</label><input />
							<label>推荐人</label><input />
						</p>
						<p>
							<label>整单折扣权%</label><input />
							<label>工时折扣权%</label><input />
							<label>商品折扣权%</label><input />
							<label>减免权</label><input />
						</p>
					</div>
				</div>
			</div>
			<div id="quitstaff">
				<p style="padding: 2px;background-color: #858585;font-weight: bold;color: #D6D6CE;">离职登记</p>
				<div style="width: 680px;height: 350px;border:1px solid white;margin-left: 10px;background-color: white;">
					<div style="width: 660px;height: 50px;margin-left: 10px;">
						<div style="display: inline-block;width: 100px;height: 40px;font-size: 20px;box-sizing: border-box;padding-top: 5px;border-left: 4px solid orange;">离职登记</div>
						<div @click="closeadd" class="clo" style="display: inline-block;width: 50px;height: 40px;box-sizing: border-box;float:right;font-size: 30px;text-align: right;padding: 0px;">X</div>
						<button class="btn-success" style="float: right;width: 80px;height: 30px;margin-top: 6px;">保存</button>
					</div>
					<div style="width: 660px;height: 290px;margin-left: 10px;background-color: #D6D6CE;box-sizing: border-box;padding-left: 20px;padding-top: 30px;">
						<p>
							<label>员工姓名</label><input /><span @click="chosecustomer" style="position: relative;top: 5px;color: #000000;font-size: 18px;" class="glyphicon glyphicon-user"></span>
							<label>离职日期</label><input />
						</p>
						<p><label>离职原因</label><input style="width: 500px;" /></p>
					</div>
				</div>
			</div>
			
			<div id="chosecustomer">
				<p style="padding: 2px;background-color: #858585;font-weight: bold;color: #D6D6CE;">选择员工</p>
				<div style="width: 580px;height: 550px;border:1px solid white;margin-left: 10px;background-color: white;">
					<div style="width: 560px;height: 50px;margin-left: 10px;">
						<div style="display: inline-block;width: 100px;height: 40px;font-size: 20px;box-sizing: border-box;padding-top: 5px;border-left: 4px solid orange;">选择员工</div>
						<div @click="closeadd" class="clo" style="display: inline-block;width: 50px;height: 40px;box-sizing: border-box;float:right;font-size: 30px;text-align: right;padding: 0px;">X</div>
						<button @click="chosecustomerOK" class="btn-success" style="float: right;width: 80px;height: 30px;margin-top: 6px;">确定</button>
					</div>
					<div style="width: 560px;height: 490px;margin-left: 10px;background-color: #D6D6CE;box-sizing: border-box;padding-left: 20px;">
						<select @change="changedepart($event)" style="outline: none;width: 80px;height: 30px;margin: 10px;" name="depart">
							<option v-for="m1 in mechanismis1" :value="m1.mid">{{m1.mid}}--{{m1.mname}}</option>
						</select>
						<select @click="changepeople($event)" style="outline: none;width: 100px;height: 30px;margin: 10px;" name="depart">
							<option v-for="mn1 in mechanismnot1" :value="mn1.mid">{{mn1.mid}}--{{mn1.mname}}</option>
						</select>
						<table class="table table-bordered" style="border: 1px solid white;width: 500px;">
							<thead>
								<tr>
									<td></td>
									<td>部门</td>
									<td>工号</td>
									<td>姓名</td>
								</tr>
							</thead>
							<tbody>
								<tr v-for="s in staffs">
									<td><input @click="peop($event)" name="ss" type="radio" :phone="s.pphone" :pno="s.pno" :pname="s.pname" /></td>
									<td>{{s.mname}}</td>
									<td>{{s.pno}}</td>
									<td>{{s.pname}}</td>
								</tr>
								
							</tbody>
						</table>
					</div>
				</div>
			</div>
			
			<div id="checkstaff">
				<p style="padding: 2px;background-color: #858585;font-weight: bold;color: #D6D6CE;">员工查询</p>
				<div style="width: 880px;height: 450px;border:1px solid white;margin-left: 10px;background-color: white;">
					<div style="width: 860px;height: 50px;margin-left: 10px;">
						<div style="display: inline-block;width: 200px;height: 40px;font-size: 30px;box-sizing: border-box;padding-top: 5px;border-left: 4px solid orange;">员工查询</div>
						<div @click="closeadd" class="clo" style="display: inline-block;width: 100px;height: 40px;box-sizing: border-box;float:right;font-size: 50px;text-align: right;padding: 0px;">X</div>
						<button class="btn-success" style="float: right;width: 100px;height: 40px;margin-top: 5px;">确定</button>
					</div>
					<div style="width: 860px;height: 390px;margin-left: 10px;background-color: #D6D6CE;color:#44BDCA;box-sizing: border-box;padding-left: 20px;">
						<p style="padding-top: 10px;">
							<label><span style="color: red;">*</span>员工编号</label><input />
							<label><span style="color: red;">*</span>员工姓名</label><input />
							<label><span style="color: red;">*</span>性别</label><input />
						</p>
						<p>
							<label><span style="color: red;">*</span>岗位</label><input />
							<label><span style="color: red;">*</span>所在部门</label><input />
						</p>
						<p>
							<label>身体状况</label><input />
							<label>身高</label><input />
							<label>籍贯</label><input />
						</p>
						<p>
							<label>名族</label><input />
							<label>婚姻状况</label><input />
							<label>学历</label><input />
						</p>
						<p>
							<label>毕业学校</label><input />
							<label>专业</label><input />
							<label>专业资格</label><input />
						</p>
						<p>
							<label>生日</label><input />
							<label>学位</label><input />
							<label>编制</label><input />
						</p>
						<p>
							<label>身份证号</label><input />
							<label>入职日期&nbsp;&nbsp;从</label><input />
							<label style="text-align: left;">至</label><input />
						</p>
						<p>
							<label>试用到期&nbsp;&nbsp;从</label><input />
							<label style="text-align: left;">至</label><input />
							<label>属性</label><input />
						</p>
						<p>
							<label>合同开始&nbsp;&nbsp;从</label><input />
							<label style="text-align: left;">至</label><input />
						</p>
					</div>
				</div>
			</div>
		</div>
		  
		<script src="js/jquery-1.12.4.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/my.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			//根据组织机构父级ID查询机构
				function me(parentid){
					//查询组织机构父级id不为1和0
						$.ajax({
							url:data.ip+"cus/queryParentidnot1",
							data:{parentid:parentid},
							type:"post",
							dataType:"json",
							success:function(data){
								vm.mechanismnot1=data;
							},error:function(data){
								alert("发生错误");
							}
						});
				}
			//查询所有在职员工
			function queryAllStaff(pno,mid){
					$.ajax({
							url:data.ip+"cus/queryPeopleByMid",
							data:{pno:"",mid:mid},
							type:"post",
							dataType:"json",
							success:function(data){
								vm.staffs=data;
							},error:function(data){
								alert("发生错误");
							}
						});
				}
			function queryAllResign(){
				$.ajax({
							type:"get",
							url:data.ip+"quit/queryAllResign",
							dateType:"json",
							xhrFields:{
								withCredentials:true
							},
							success:function(response){
								vm.quits = response;
							}
						});	
			}
			
			var vm = new Vue({
				el:"#ctx",
				data (){
					return {
						quits:[],//所有离职员工
						staffs:[],//所有在职员工
						mechanismis1:[],//机构
						mechanismnot1:[],//部门
						
					}
				},
				methods:{
					changepeople:function(e){
							//切换部门
							let mid = $(e.target).val();
							queryAllStaff("",mid);
						},
					changedepart:function(e){
							//切换机构
							let mid = $(e.target).val();
							me(mid)
						},
					peop:function(e,c){
							//选择员工
							let checkeds = e.target.checked;
							if(checkeds){
								$(e.target).parent().parent().css("background-color","#C9E2B3").siblings().css("background-color","#D6D6CE");
//								if(vm.kk=="1"){
//									//console.log(vm.ctype);
//								}
							}else{
								$(e.target).parent().parent().css("background-color","#D6D6CE");
							}
							
						},
					chosecustomerOK:function(){
							let sphone = "";
							let spname = "";
							let pno="";
							//确定选择的员工
							let sum = 0;
							$("#chosecustomer input[type=radio]").each(function(){
								if($(this)[0].checked){
									sum=sum+1;
//									sphone=$(this).attr("phone");
//									spname=$(this).attr("pname");
//									pno = $(this).attr("pno");
//									vm.cus.pphone=sphone;
//									vm.cus.pname=spname;
//									vm.cus.pno=pno;
									$("#chosecustomer").hide();
									return;
								}
							})
							if(sum==0){
								alert("请选择员工");
								return;
							}
						},
					chosecustomer:function(){
						$("#chosecustomer").show();
					},
					quitstaff:function(){
						$("#quitstaff").show();
					},
					closeadd:function(){
							$("#quitstaff").hide();
							$("#addstaff").hide();
							$("#checkstaff").hide();
							$("#chosecustomer").hide();
					},
					open:function(){
						$("#addstaff").show();
					},
					checkstaff:function(){
						$("#checkstaff").show();
					}
				},
				created:function(){
					
					queryAllStaff("",3);
					//alert("12")
					//查询组织机构父级id为1
						$.ajax({
							url:data.ip+"cus/queryParentideq1",
							data:{},
							type:"post",
							dataType:"json",
							success:function(data){
								vm.mechanismis1=data;
							},error:function(data){
								alert("发生错误");
							}
						});
						me(2);
						
					
				}
			});
		</script>
	</body>
</html>
