<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>结算中心</title>
		<link rel="stylesheet" href="css/bootstrap.min.css" />
	</head>
	<style type="text/css">
			select{
				height: 30px;
				width: 100px;
				margin-right: 10px;
			}
	</style>
	
	<body>
		<div id="ctx" class="container-fluid" style="margin: 20px;">
				<div id="title"  style="padding: 20px;background: #C9E2B3;">
				 	<span style="font-size: 30px;"> 
				 		<strong>结算中心</strong>
				 	</span>
			 	</div>
			 	
			 	<div class="row" style="padding: 20px;">
				 		<div style="margin-bottom: 20px;">
				 			开单日期 <input type="date" v-model="startTime" @input="findAccounts"/><input type="date" v-model="endTime" @input="findAccounts"/>
				 			销售单号 <input type="text" v-model="bid" @input="findAccounts"/>
				 			结算状态 <select v-model="astate" @change="changestate($event)">
				 						<option value="0">未结算</option>
				 						<option value="1">已结算</option>
				 				  </select>
				 			车牌号 <input type="text" v-model="cdlicense" @input="findAccounts"/>
				 		</div>
				 		
				 		<div>
				 			客户名称 <select v-model="cno" @change="findAccounts">
				 						<option v-for="item in cnos" :value="item.cno">{{item.cname}}</option>
				 				  </select>
				 			服务顾问 <select v-model="pno" @change="findAccounts">
				 						<option v-for="item in pnos" :value="item.pno">{{item.pname}}</option>
				 				 </select>
				 		</div>					
				</div>
				
				<div>
					<div style="float:right;">				 	
						<button id="getmoney" type="button" class="btn btn-info" @click="openSettlementModal">收银</button>
						<button id="backmoney" type="button" class="btn btn-success" >回滚</button>
				 		<button type="button" class="btn btn-success" >打开单据</button>
				 		<button type="button" class="btn btn-warning" >导出</button>
				 	</div>
				</div>
				
				<div style="width: 1180px;overflow: scroll;height: 300px;">
					<table class="table table-hover table-condensed" style="width: 1800px;">
						<thead>
				 				<tr style="color: white; background-color: #C1E2B3;">
				 					<td>##</td>
				 					<td>销售单号</td>
				 					<td>单据类型</td>
				 					<td>结算方式</td>
				 					<td>单据状态</td>
				 					<td>结算状态</td>
				 					<td>结算时间</td>
				 					<td>结算人</td>
				 					<td>结算金额</td>
				 					<td>业务类型</td>
				 					<td>客户名称</td>
				 					<td>车牌号</td>
				 					<td>车型</td>
				 					<td>车架号</td>
				 					<td>联系人</td>
				 					<td>保险公司</td>
				 					<td>赔款公司</td>
				 					<td>对方车牌</td>
				 					<td>服务顾问</td>
				 					<td>完工时间</td>
				 					<td>备注</td>
				 				</tr>
				 		</thead>
				 		<tbody>
				 				<tr v-for="item in accounts">
				 					<td><input type="radio" name="radio"/></td>
				 					<td>{{item.bid}}</td>
				 					<td v-if="item.mbname!=null">{{item.mbname}}</td>
				 					<td v-else>{{item.rbname}}</td>
				 					<td>{{item.pmname}}</td>
				 					<td v-if="item.bstate==2">完工</td>
				 					<td v-else>已结算</td>
				 					<td v-if="item.astate==0">正常结算</td>
				 					<td v-else-if="item.astate==1">挂账结算</td>
				 					<td v-else>部分结算</td>
				 					<td>{{item.atime}}</td>
				 					<td>{{item.aname}}</td>
				 					<td>{{item.total}}</td>
				 					<td>{{item.btname}}</td>
				 					<td>{{item.cname}}</td>
				 					<td>{{item.cdlicense}}</td>
				 					<td>{{item.moiname}}</td>
				 					<td>{{item.cdframe}}</td>
				 					<td>{{item.inname}}</td>
				 					<td>{{item.ieinname}}</td>
				 					<td></td>
				 					<td>{{item.pname}}</td>
				 					<td>{{item.completiontime}}</td>
				 					<td></td>
				 				</tr>	
				 		</tbody>
				 	</table>					
				</div>
				<div id="settlement" class="modal fade" tabindex="-1" role="dialog">
				  <div class="modal-dialog" style="width: 1000px;" role="document">
				    <div class="modal-content" style="width: 1000px;position: relative;">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title" id="myModalLabel">前台收银</h4>
				      </div>
				      <div class="modal-body">
				      		<table>
				      			<tr>
				      				<td>客总费:</td>
				      				<td><input type="text" /></td>
				      				<td>税率(%):</td>
				      				<td><input type="text" /></td>
				      				<td>加税金:</td>
				      				<td><input type="text" /></td>
				      			</tr>
				      			<tr>
				      				<td>抹尾数:</td>
				      				<td><input type="text" /><button class="btn btn-success">选择</button></td>
				      				<td>积分抵扣(元):</td>
				      				<td><input type="text" /><input type="text" placeholder="最大抵扣金额"/></td>
				      				<td>结算状态:</td>
				      				<td>
				      					<select>
				      						
				      					</select>
				      				</td>
				      			</tr>
				      			<tr>
				      				<td>结算状态:</td>
				      				<td><select>
				      					
				      				</select></td>
				      				<td><input type="checkbox" />现金:</td>
				      				<td><input type="text" /></td>
				      				<td>消费密码:</td>
				      				<td><input type="text" /></td>
				      			</tr>
				      			<tr>
				      				<td><input type="checkbox" />银行卡:</td>
				      				<td><input type="text" /></td>
				      				<td>银行卡分类:</td>
				      				<td><select>
				      					
				      				</select></td>
				      				<td>银联手续费:</td>
				      				<td><input type="text" /></td>
				      			</tr>
				      			<tr>
				      				<td><input type="checkbox" />票据:</td>
				      				<td><input type="text" /></td>
				      				<td>票据分类:</td>
				      				<td><select>
				      					
				      				</select></td>
				      				<td><input type="checkbox">冲储值:</td>
				      				<td><input type="text" /></td>
				      			</tr>
				      			<tr>
				      				<td><input type="checkbox">冲订金:</td>
				      				<td><input type="text" /></td>
				      				<td><input type="checkbox" />挂账金额:</td>
				      				<td><input type="text" /></td>
				      				<td><input type="checkbox" />内部账:</td>
				      				<td><input type="text" /></td>
				      			</tr>
				      			<tr>
				      				<td>内部账分类:</td>
				      				<td><select>
				      					
				      				</select></td>
				      				<td><input type="checkbox" />抵用券:</td>
				      				<td><input type="text" /></td>
				      				<td>抵用券分类:</td>
				      				<td><select>
				      					
				      				</select></td>
				      			</tr>
				      			<tr>
				      				<td>抵用券编号:</td>
				      				<td><input type="text" /></td>
				      				<td><input type="checkbox" />开发票:</td>
				      				<td><input type="text" /></td>
				      				<td>发票种类:</td>
				      				<td><select name="" id=""></select></td>
				      			</tr>
				      			<tr>
				      				<td>发票号:</td>
				      				<td><input type="text"></td>
				      				<td>发票金额:</td>
				      				<td><input type="text" /></td>
				      				<td>开票日期:</td>
				      				<td><input type="date" /></td>
				      			</tr>
				      			<tr>
				      				<td>应收金额:</td>
				      				<td><input type="text" /></td>
				      				<td>找零:</td>
				      				<td><input type="" name="" id="" value="" /></td>
				      				<td>累积挂账:</td>
				      				<td><input type="text" /></td>
				      			</tr>
				      			<tr>
				      				<td>订金余额:</td>
				      				<td><input type="text" /></td>
				      				<td>储值卡余额:</td>
				      				<td><input type="text" /></td>
				      				<td colspan="2"><input type="checkbox" />打印小票</td>
				      			</tr>
				      		</table>
				      </div>
				      <div class="modal-footer">
				      	<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				        <button type="button" class="btn btn-primary" >确定</button>
				      </div>
				    </div>
				  </div>
				</div>
		</div>
		<script type="text/javascript" src="js/jquery-1.12.4.js" ></script>
		<script type="text/javascript" src="js/bootstrap.min.js" ></script>
		<script type="text/javascript" src="js/vue.js" ></script>
		<script type="text/javascript" src="js/login.js" ></script>
		<script type="text/javascript" src="js/perms.js" ></script>
		<script type="text/javascript" src="js/my.js" ></script>
		<script>
			var vm=new Vue({
				el:"#ctx",
				data(){
					return{
						startTime:"",
						endTime:"",
						bid:"",
						astate:"",
						cdlicense:"",
						cno:"",
						pno:"",
						btid:"",
						accounts:[],
						bts:[],
						pnos:[],
						cnos:[]
					}
				},methods:{
					changestate:function(e){
						if($(e.target).val()=="0"){
							$("#getmoney").show();
							$("#backmoney").hide();
						}else if($(e.target).val()=="1"){
							$("#getmoney").hide();
							$("#backmoney").show();
						}
					},
					openSettlementModal(){
						$("#settlement").modal("show");
					},
					findAccounts(){
						let that=this;
						$.ajax({
							url:data.ip+"account/findAccounts",
							type:"get",
							xhrFields:{
								withCredentials:true
							},
							data:{
								startTime:that.startTime,
								endTime:that.endTime,
								bid:that.bid,
								astate:that.astate,
								cdlicense:that.cdlicense,
								cno:that.cno,
								pno:that.pno,
								btid:that.btid
							},
							dataType:"json",
							success:function(result){
								vm.accounts=result;
								console.log(vm.accounts);
							}
						});
						
					},findBts(){
						//查询全部业务类型
						$.ajax({
							url:data.ip+"bills/findBts",
							type:"get",
							xhrFields:{
								withCredentials:true
							},
							dataType:"json",
							success:function(result){
								vm.bts=result;
								console.log(vm.bts);
							}
						});
					},findPnos(){
						//查询服务顾问
						$.ajax({
							url:data.ip+"bills/findPnos",
							type:"get",
							xhrFields:{
								withCredentials:true
							},
							dataType:"json",
							success:function(result){
								vm.pnos=result;
								console.log(vm.pnos);
								
							}
						});
					},findCnos(){
						//查询客户
						$.ajax({
							url:data.ip+"bills/findCnos",
							type:"get",
							xhrFields:{
								withCredentials:true
							},
							dataType:"json",
							success:function(result){
								vm.cnos=result;
								console.log(vm.cnos);
							}
						});
					}
				},created:function(){
					this.findAccounts();
					this.findCnos();
					this.findPnos();
					this.findBts();
					$("#backmoney").hide();
					this.astate="0";
				}
			});
		</script>
	</body>
</html>
