<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>德召文车辆维修管理系统-车型档案</title>
		<link rel="stylesheet" href="css/bootstrap.min.css" />
	</head>
	<style type="text/css">
		#input1 input{
			height: 35px;
			width: 250px;
			margin-bottom: 10px;
		}
		.metable td:first-of-type{
			text-align: right;
		}
	</style>
	<body>
		 <div class="container-fluid" id="ctx">
		 	<div class="row">
		 		<div id="title"  style="padding: 20px;background: #F7F7F7;">
				 	<span style="font-size: 30px;"> 
				 		<strong>品牌车型</strong>
				 	</span>
				 	<button type="button" class="btn btn-warning" style="float: right;">关闭</button>
			 	</div>
			 </div>
			 <div class="row">
			 	<div class="col-md-3">
			 		<div style="margin-bottom: 20px;">
			 			<button type="button" class="btn btn-default" @click="addis">新增品牌</button>
			 			<button type="button" class="btn btn-default"  @click="updaID">修改</button>
			 			<button type="button" class="btn btn-default" @click="DeleteT">删除</button>
			 		</div>
			 		<div id="input1">
			 			<input type="text" v-model="condition" placeholder="匹配/品牌编码/品牌名称/首字母"/>
			 			<button type="button" class="btn btn-warning" @click="getData">搜索</button>
			 		</div>
			 		<div>
			 			<table class="table table-hover">
			 				<tr>
			 					<td>编码</td>
			 					<td>品牌名称</td>
			 					<td>首字母</td>
			 				</tr>
			 				
			 				<tr v-for="item in Carbrand" @click="getDataTwo(item)">
			 					<td>{{item.cbno}}</td>
			 					<td>{{item.cbname}}</td>
			 					<td>{{item.cbfirst}}</td>
			 					</td>
			 				</tr>
			 				
			 			</table>
			 		</div>
			 	</div>
			 	
			 	
			 	<div class="col-md-9">
			 		<div style="margin-bottom: 20px;">
			 			<button type="button" class="btn btn-default" @click="Adds">新增车型</button>
			 			<button type="button" class="btn btn-default" @click="updaQuery">修改</button>
			 			<button type="button" class="btn btn-default" @click="DeleteTwo">删除</button>
			 		</div>
			 		<div id="input1">
			 			<input type="text" v-model="cbnos" placeholder="匹配/车型编码/车型名称"/>
			 			<button type="button" class="btn btn-warning" @click="getDataThree">搜索</button>
			 		</div>
			 		<div>
			 			<table class="table table-hover">
			 				<tr>
			 					<td>车型ID</td>
			 					<td>车型名称</td>
			 					<td>发动机品牌</td>
			 					<td>价格参考</td>
			 					<td>车辆年款</td>
			 					<td>功率</td>
			 					<td>进口国产</td>
			 					<td>燃油标号</td>
			 					<td>载重</td>
			 				</tr>
			 				
			 				<tr v-for="item1 in Motorcycle" @click="idtwo(item1)">
			 					<td>{{item1.cbno}}</td>
			 					<td>{{item1.moiname}}</td>
			 					<td>{{item1.m.mname}}</td>
			 					<td>{{item1.moprice}}</td>
			 					<td>{{item1.moyearprice}}</td>
			 					<td>{{item1.modischarge}}</td>
			 					<td>{{item1.modomestic}}</td>
			 					<td>{{item1.mofuel}}</td>
			 					<td>{{item1.load}}</td>
			 				</tr>
			 			</table>
			 		</div>
			 	</div>
			 </div>
			 
			<!--
            	作者：offline
            	时间：2019-12-31
            	描述：增加品牌模态框
            -->
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
			     <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title">品牌定义</h4>
				      </div>
				      <div class="modal-body">
				         	<table class="table table-hover metable">
				         		<tr>
				         			<td>品牌名称:</td>
				         			<td><input type="text" v-model="carbrand.cbname" id="input_1"/></td>
				         		</tr>
				         		<tr>
				         			<td>首字母:</td>
				         			<td><input type="text" v-model="carbrand.cbfirst" id="input_2"/></td>
				         		</tr>
				         	</table>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				        <button type="button"  class="btn btn-default" @click="upda">修改</button>
				        <button type="button"  class="btn btn-default" @click="add">保存</button>
				      </div>
				    </div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
			
			<!--
            	作者：offline
            	时间：2019-12-31
            	描述：新增车型模态框
   -->
            <div class="modal fade" id="myModal1" tabindex="-1" role="dialog">
			     <div class="modal-dialog" role="document">
				    <div class="modal-content"  style="width:800px; height:500px;">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title" style="display: inline-block;">
				       		 <strong>车型定义</strong>
				        </h4>				 		
				        <button type="button" class="btn btn-default" style="float: right;"  @click="updaTwo">修改</button>
				        <button type="button" class="btn btn-default" style="float: right;"  @click="addtwo">新增</button>
				      </div>
				      <div class="modal-body">
				         	车辆品牌:<input type="text" v-model="cbbr.cbno" readonly="readonly"/>
				         	<input type="text" v-model="cbbr.cbname" readonly="readonly"/>
				         	<br/><br/><br/>
				         	车辆载重:<input type="text" id="input_8" v-model="cbbr.load"/>
							车辆功率:<input type="text" id="input_6" v-model="cbbr.modischarge"/>
				         	
				         	<br/><br/><br/>
							参考价格:<input type="text" id="input_4" v-model="cbbr.moprice"/>
							车辆年款:<input type="text" id="input_5" v-model="cbbr.moyearprice"/>
							<br/><br/><br/>
							车型名称:<input type="text" id="input_3" v-model="cbbr.moiname"/>
							燃油标号:<input type="text" id="input_7" v-model="cbbr.mofuel"/>
							<br/><br/><br/>
							发动机品牌:<select v-model="cbbr.mid" style="width: 100px;">
									  <option  v-for="item3 in fdjs" 
									  :value ="item3.mid"> {{item3.mname}}
									  </option>
									</select>
				         	进口国产:<select v-model="cbbr.modomestic" style="width: 100px;">
									  <option value ="国产">国产</option>
									  <option value ="进口">进口</option>
									  <option value ="合资">合资</option>
									</select>
				         	
							
				      </div>
				      <div class="modal-footer">
				        
				      </div>
				    </div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
            
		 </div>
		 <script type="text/javascript" src="js/my.js"></script>
		 <script type="text/javascript" src="js/jquery-1.12.4.js" ></script>
		 <script type="text/javascript" src="js/bootstrap.min.js" ></script>
		 <script type="text/javascript" src="js/vue.js" ></script>
	</body>
<script type="text/javascript">
		$("select").find("option:eq(0)").prop("selected","selected");
		var vm=new Vue({
            el:"#ctx",
			data(){
    			return {
    				motor:[], 		 //新增车型集合
    				fdjs:[],      	 //发动机类型
    				cbbr:{},    	 //创建新的对象存入id 
    				carbrand:{},	 //新增车品牌对象
    				Carbrand:[],	 //查询车品牌集合	
    				Motorcycle:[],	 //查询车型集合
    				cbnos:"",		 //查询车型
    				condition:"",	 //查询车品牌
    				tabletwo:{}		 //
        		};
			},
			created:function() {
            this.getData()
            this.fdjquery();
       		},
			methods: {	
				/**
				 * 查询车品牌
				 */
				getData:function(){
						var that=this;
						$.ajax({
						url: data.ip+"CarbrandRest",					
						type: "get",
						data:{
							condition:that.condition
						},
						xhrFields: {
							withCredentials: true
						},
						dataType: "json",
						success: function(result) {
								if(result){
									that.Carbrand=result;
									that.getDataTwo(that.Carbrand[0]);
								}else{
									vm.Motorcycle=[];
								}
							console.log(result+"001");
						},error:function(result){					
							console.log(result+"002");
						}
					});
				},
				/**
				 * 根据车品牌id查询右侧车型
				 * @param {Object} cbbrand
				 */
				getDataTwo:function(cbbrand){
						vm.cbbr=cbbrand;
						$.ajax({
						url: data.ip+"CarbrandRest",					
						type: "post",
						data:{cbno:cbbrand.cbno},
						xhrFields: {
							withCredentials: true
						},
						dataType: "text",
						success: function(result) {
							if(result){
								vm.Motorcycle=eval('('+result+')');	
							}else{
								vm.Motorcycle=[];
							}
						},error:function(result){					
							console.log(result+"004");
						}
					});	
				},
				/**
				 * 查询车型
				 */
				getDataThree:function(){
					var that=this;
						$.ajax({
						url: data.ip+"CarbrandRest/query",					
						type: "get",
						data:{
							cbnos:that.cbnos
						},
						xhrFields: {
							withCredentials: true
						},
						dataType: "text",
						success: function(result) {
							if(result){
								vm.Motorcycle=eval('('+result+')');	
							}else{
								vm.Motorcycle=[];
							}
						},error:function(result){					
							console.log(result+"006");
						}
					});	
				},
				
				/**
				 * 删除车型
				 * @param {Object} item
				 */
				DeleteT:function(){
					if (confirm("你确定要删除"+vm.cbbr.cbno+"么?")) {
						$.ajax({
								url:data.ip+"CarbrandRest/dele",
								data:{
									cbno:vm.cbbr.cbno
								},
								type:"post",
								xhrFields: {
									withCredentials: true
								},
								dataType:"json",
								success:function(result){
											alert("删除成功")
											vm.getData();																				
									},error:function(result){
										console.log(result);
									},
							})
						}
				},
				
				addis:function(){
					vm.carbrand={};
					$("#myModal").modal("show");
				},
				Adds:function(){
					$("#myModal1").modal("show");
				},
				
				/**
				 * 新增车型
				 */
				add:function(){
					if($("#input_1").val()=="" && $("#input_2").val()==""){
						alert("请完善信息!")
						return false;
					}else{
						$.ajax({
							url:data.ip+"CarbrandRest/add",
							data:JSON.stringify(vm.carbrand),						
							type:"post",
							xhrFields: {
									withCredentials: true
								},
							contentType:"application/json;charset=utf-8",
							success:function(result){
								alert("新增成功")
								vm.getData();
							},error:function(result){
								console.log(result+"11")
							}
						})
					}
				},
				/**
				 * 根据id查询车品牌对象
				 * @param {Object} 
				 */
				updaID:function(){
					$("#myModal").modal("show");
						vm.isShow=true;
						$.ajax({
							url:data.ip+"CarbrandRest/UpdaID",
							type:"get",
							xhrFields: {
								withCredentials: true
							},
							data:{cbnoid:vm.cbbr.cbno},
							dataType:"json",
							success:function(result){
								vm.carbrand=result;
							}
						})
				},
				/**
				 * 修改车品牌对象
				 */
				upda:function(){
					if($("#input_1").val()=="" && $("#input_2").val()==""){
						alert("请完善信息!")
						return false;
					}else{
						$.ajax({
							url:data.ip+"CarbrandRest/upda",
							data:JSON.stringify(vm.carbrand),						
							type:"put",
							xhrFields: {
									withCredentials: true
								},
							contentType:"application/json;charset=utf-8",
							success:function(result){
								alert("修改成功")
								vm.getData();
							},error:function(result){
								console.log(result+"112")
							}
						})
					}
				},
				
				
				idtwo:function(item1){
					vm.tabletwo=item1;
				},
				/**
				 * 删除车型
				 * @param {Object} moid
				 */
				DeleteTwo:function(){
					if (confirm("你确定要删除"+vm.tabletwo.moid+"么?")) {
						$.ajax({
								url:data.ip+"CarbrandRest/deletwo",
								data:{
									moid:vm.tabletwo.moid
								},
								type:"post",
								xhrFields: {
									withCredentials: true
								},
								dataType:"json",
								success:function(result){
											alert("删除成功")
											vm.getData();																				
									},error:function(result){
										console.log(result);
									},
							})
						}
				},
				/**
				 * 发动机
				 */
				fdjquery:function(){
						$.ajax({
						url: data.ip+"CarbrandRest/fdj",					
						type: "get",
						xhrFields: {
							withCredentials: true
						},
						dataType: "json",
						success: function(result) {
							vm.fdjs=result;
						},error:function(result){					
							console.log(result+"100");
						}
					});
				},
				/**
				 * 新增车型
				 */
				addtwo:function(){
						$.ajax({
							url:data.ip+"CarbrandRest/addtwo",
							data:JSON.stringify(vm.cbbr),						
							type:"post",
							xhrFields: {
									withCredentials: true
								},
							contentType:"application/json;charset=utf-8",
							dataType:"json",
							success:function(result){
								alert("新增成功")
								vm.getData();
							},error:function(result){
								console.log(result+"11")
							}
						})
				},
				/**
				 * id查询车型做修改
				 */
				updaQuery:function(){		
					$("#myModal1").modal("show");
						$.ajax({
							url:data.ip+"CarbrandRest/updaQuery",
							type:"get",
							xhrFields: {
								withCredentials: true
							},
							data:{moid:vm.tabletwo.moid},
							dataType:"json",
							success:function(result){
								vm.cbbr=result;
							}
						})
				},
				
				/*
				 * 修改车型
				 */
				updaTwo :function(){
						$.ajax({
							url:data.ip+"CarbrandRest/updaTwo",
							data:JSON.stringify(vm.cbbr),						
							type:"put",
							xhrFields: {
									withCredentials: true
								},
							contentType:"application/json;charset=utf-8",
							dataType:"json",
							success:function(result){
								alert("修改成功")
								vm.getData();
							},error:function(result){
								console.log(result+"119")
							}
						})
				},
			}
		})
</script>
</html>
