<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>会员中心</title>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
	</head>
	<body>
		<div class="container-fluid" id="ctx" style="margin: 20px;">
			<div class="row" style="background-color: #DFF0D8;">
				<div class="col-xs-4">
					<h2>会员中心</h2>
				</div>
				<div class="col-xs-4 col-xs-offset-4">
					<div style="float: right;margin-top: 20px;">
						<button class="btn btn-default">关闭</button>
					</div>
				</div>
			</div>
			<div class="row" style="padding: 20px 10px; background-color: beige;">
				<form class="form-inline">
					<div class="form-group">
						<div>
						    <div class="input-group">
						      <input type="text" class="form-control" v-model="condition" placeholder="输入姓名/会员卡号/手机号">
						    </div><!-- /input-group -->
						    <div class="input-group">
						      <input type="date" class="form-control" v-model="startTime" placeholder="选择开始入会日期">
						    </div><!-- /input-group -->
						    <div class="input-group">
						      <input type="date" class="form-control" v-model="endTime" placeholder="选择结束入会日期">
						    </div><!-- /input-group -->
						    <div class="input-group">
						    	<button class="btn btn-success" type="button" @click="findVip"><span class="glyphicon glyphicon-search"></span>&nbsp;查询</button>
						    </div>
						    <button class="btn btn-success" type="button" @click="openInsertVip"><span class="glyphicon glyphicon-plus"></span>&nbsp;添加</button>
						    <button class="btn btn-success" type="button"><span class="glyphicon glyphicon-edit"></span>&nbsp;编辑</button>
						    <button class="btn btn-danger" type="button"><span class="glyphicon glyphicon-trash"></span>&nbsp;删除</button>
						    <button class="btn btn-danger" type="button"><span class="glyphicon glyphicon-refresh"></span>&nbsp;积分清零</button>
							<button class="btn btn-success" type="button" data-toggle="modal" data-target="#PayModal"><span class="glyphicon glyphicon-zoom-in"></span>&nbsp;会员充值</button>
						</div><!-- /.col-lg-6 -->
						
					</div>
				</form>
			</div>
			<div class="row">
				<table class="table table-bordered">
					<tr style="background-color: #DFF0D8;">
						<td></td>
						<td>会员卡号</td>
						<td>会员等级</td>
						<td>姓名</td>
						<td>手机</td>
						<td>余额</td>
						<td>积分</td>
						<td>累计消费</td>
						<td>会员期限</td>
					</tr>
					<tr v-for="item in vips">
						<td><input type="radio" name="vip"/></td>
						<td>{{item.vno}}</td>
						<td>{{item.vl.vlname}}</td>
						<td>{{item.cus.cname}}</td>
						<td>{{item.remark2}}</td>
						<td>{{item.remark1}}</td>
						<td>{{item.currentjifen}}</td>
						<td>{{item.summoney}}</td>
						<td>{{item.limit}}</td>
					</tr>
				</table>
			</div>
			
			<!-- Modal -->
			<div id="AddVipModal" class="modal fade" tabindex="-1" role="dialog">
			  <div class="modal-dialog" style="width: 1000px;" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h4 class="modal-title" id="myModalLabel">新增会员</h4>
			      </div>
			      <div class="modal-body">
			      	<form class="form-inline">
			      		<div class="form-group">
			      			<label for="vno">会员编号:</label>
    						<input type="text" class="form-control" ="vno"  id="vno" placeholder="vno">
			      		</div>
			      		<div class="form-group">
			      			<label for="vjoindate">入会日期:</label>
    						<input type="date" class="form-control" id="vjoindate"  placeholder="vjoindate">
			      		</div>
			      		<div class="form-group">
			      			<label for="venddate">到期时间:</label>
    						<input type="date" class="form-control" id="venddate"  placeholder="venddate">
			      		</div>
			      		<div class="form-group">
			      			<label for="cno">客户编号:</label>
    						<input type="text" class="form-control" id="cno"   placeholder="cno">
			      		</div>
			      		<div class="form-group">
			      			<label for="cname">客户名称:</label>
    						<input type="text" class="form-control" id="cname"  placeholder="cname">
    						<button class="btn btn-success" @click="chooseCus">选择客户</button>
			      		</div>
			      		<div class="form-group">
			      			<label for="remark2">联系电话:</label>
    						<input type="text" class="form-control" id="remark2" placeholder="联系电话">
			      		</div>
			      		<div class="form-group">
			      			<label for="vlid">会员等级:</label>
    						<select class="form-control">
    						</select>
			      		</div>
			      	</form>
			      </div>
			      <div class="modal-footer">
			      	<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
			        <button type="button" class="btn btn-primary">新增</button>
			      </div>
			    </div>
			  </div>
			</div>
			
			<div style="display: none;" id="findModal">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="btn btn-default">关闭</span></button>
			        <h4 class="modal-title" id="myModalLabel">选择客户</h4>
			      </div>
			      <div class="modal-body">
			      		<div class="form-inline">
			      			<div class="form-group">
			      				<input v-model="cCondition" placeholder="编号/手机号/名称"/>
			      				<button ><span class="glyphicon glyphicon-search"></span></button>
			      			</div>
			      		</div>
						<table class="table table-hover">
							<tr class="danger">
								<td>#</td>
								<td>##</td>
								<td>客户编号</td>
								<td>客户名称</td>
								<td>联系方式</td>
							</tr>
							<tr class="success" v-for="item,index in customers">
								<td><input type="radio" name="cus"/></td>
								<td>{{index+1}}</td>
								<td>{{item.cno}}</td>
								<td>{{item.cname}}</td>
								<td>{{item.cphone}}</td>
							</tr>
						</table>
			      </div>
			      <div class="modal-footer">
			      	<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
			        <button type="button" class="btn btn-primary">确定</button>
			      </div>
			    </div>
			  </div>
			</div>
			
		</div>
		<script src="js/jquery-1.12.4.js" type="text/javascript" charset="utf-8"></script>	
		<script src="js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" src="js/my.js" ></script>
		<script type="text/javascript" src="js/login.js" ></script>
		<script type="text/javascript" src="js/perms.js" ></script>
		<script>
			var fatherBody = $(window.top.document.body);
			
			var vm=new Vue({
				el:"#ctx",
				data(){
					return{
						vips:[],
						condition:"",
						startTime:"",
						endTime:"",
						cCondition:"",
						vipLevel:[],
						customers:[],
						vno:"",
						vlid:""
					}
				},methods:{
					findVip(){
						//会员查询
						findVips(this);
					},
					openInsertVip(){
						//打开会员新增模态框
						$("#AddVipModal").load("index.html", function() {
		                    dialog.modal({
		                      backdrop: false
		                    });
		                });
					},
					insertVip(){
						
					},chooseCus(){
						
					}
				},created:function(){
					findVips(this);
					findVipLevel(this);
					findByCno(this);
					newVno();
				}
			});
			//新会员编号
			function newVno(){
				$.ajax({
							type:"get",
							url:data.ip+"vipLevel/newVno",
							xhrFields:{
								withCredentials:true
							},
							dataType:"text",
							success:function(response){
								vm.vno=response;
							},error:function(error){
								console.log(error);
							}
						});
			}
			//查询全部会员
			function findVips(t){
				$.ajax({
					type:"get",
					url:data.ip+"vip/findVips",
					xhrFields:{
						withCredentials:true
					},
					data:{condition:t.condition,startTime:t.startTime,endTime:t.endTime},
					dataType:"json",
					success:function(response){
						t.vips=response;
						console.log(t.vips);
					},error:function(error){
						console.log(error);
					}
				});
			}
			//查询会员等级
			function findVipLevel(t){
				$.ajax({
					type:"get",
					url:data.ip+"vipLevel/findViplevels",
					xhrFields:{
						withCredentials:true
					},
					dataType:"json",
					success:function(response){
						t.vipLevel=response;
						t.vlid=t.vipLevel[0].vlid;
						console.log(t.vipLevel);
					},error:function(error){
						console.log(error);
					}
				});
			}
			
			//查询客户
			function findByCno(t){
				$.ajax({
					type:"get",
					url:data.ip+"vipLevel/findByCno",
					xhrFields:{
						withCredentials:true
					},
					data:{
						condition:t.cCondition
					},
					dataType:"json",
					success:function(response){
						t.customers=response;
						console.log(t.customers);
					},error:function(error){
						console.log(error);
					}
				});
			}
			
		</script>
	</body>
</html>
