<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.mapper.RequisitionMapper" >
  <resultMap id="BaseResultMap" type="com.accp.domain.Requisition" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="bid" property="bid" jdbcType="VARCHAR" />
    <result column="rtype" property="rtype" jdbcType="INTEGER" />
    <result column="rtime" property="rtime" jdbcType="TIMESTAMP" />
    <result column="pno" property="pno" jdbcType="VARCHAR" />
    <result column="cno" property="cno" jdbcType="INTEGER" />
    <result column="num" property="num" jdbcType="INTEGER" />
    <result column="pcid" property="pcid" jdbcType="INTEGER" />
    <result column="Bpreferential" property="bpreferential" jdbcType="REAL" />
    <result column="apreferential" property="apreferential" jdbcType="REAL" />
    <result column="bpreferentialM" property="bpreferentialm" jdbcType="REAL" />
    <result column="servicepeo" property="servicepeo" jdbcType="VARCHAR" />
    <result column="Free" property="free" jdbcType="VARCHAR" />
    <result column="remark1" property="remark1" jdbcType="VARCHAR" />
    <result column="remark2" property="remark2" jdbcType="VARCHAR" />
    <result column="remark3" property="remark3" jdbcType="VARCHAR" />
    <result column="remark4" property="remark4" jdbcType="VARCHAR" />
    <result column="remark5" property="remark5" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, bid, rtype, rtime, pno, cno, num, pcid, Bpreferential, apreferential, bpreferentialM, 
    servicepeo, Free, remark1, remark2, remark3, remark4, remark5
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.accp.domain.RequisitionExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from requisition
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from requisition
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from requisition
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.accp.domain.RequisitionExample" >
    delete from requisition
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.accp.domain.Requisition" >
    insert into requisition (id, bid, rtype, 
      rtime, pno, cno, 
      num, pcid, Bpreferential, 
      apreferential, bpreferentialM, servicepeo, 
      Free, remark1, remark2, 
      remark3, remark4, remark5
      )
    values (#{id,jdbcType=INTEGER}, #{bid,jdbcType=VARCHAR}, #{rtype,jdbcType=INTEGER}, 
      #{rtime,jdbcType=TIMESTAMP}, #{pno,jdbcType=VARCHAR}, #{cno,jdbcType=INTEGER}, 
      #{num,jdbcType=INTEGER}, #{pcid,jdbcType=INTEGER}, #{bpreferential,jdbcType=REAL}, 
      #{apreferential,jdbcType=REAL}, #{bpreferentialm,jdbcType=REAL}, #{servicepeo,jdbcType=VARCHAR}, 
      #{free,jdbcType=VARCHAR}, #{remark1,jdbcType=VARCHAR}, #{remark2,jdbcType=VARCHAR}, 
      #{remark3,jdbcType=VARCHAR}, #{remark4,jdbcType=VARCHAR}, #{remark5,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.accp.domain.Requisition" >
    insert into requisition
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="bid != null" >
        bid,
      </if>
      <if test="rtype != null" >
        rtype,
      </if>
      <if test="rtime != null" >
        rtime,
      </if>
      <if test="pno != null" >
        pno,
      </if>
      <if test="cno != null" >
        cno,
      </if>
      <if test="num != null" >
        num,
      </if>
      <if test="pcid != null" >
        pcid,
      </if>
      <if test="bpreferential != null" >
        Bpreferential,
      </if>
      <if test="apreferential != null" >
        apreferential,
      </if>
      <if test="bpreferentialm != null" >
        bpreferentialM,
      </if>
      <if test="servicepeo != null" >
        servicepeo,
      </if>
      <if test="free != null" >
        Free,
      </if>
      <if test="remark1 != null" >
        remark1,
      </if>
      <if test="remark2 != null" >
        remark2,
      </if>
      <if test="remark3 != null" >
        remark3,
      </if>
      <if test="remark4 != null" >
        remark4,
      </if>
      <if test="remark5 != null" >
        remark5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="bid != null" >
        #{bid,jdbcType=VARCHAR},
      </if>
      <if test="rtype != null" >
        #{rtype,jdbcType=INTEGER},
      </if>
      <if test="rtime != null" >
        #{rtime,jdbcType=TIMESTAMP},
      </if>
      <if test="pno != null" >
        #{pno,jdbcType=VARCHAR},
      </if>
      <if test="cno != null" >
        #{cno,jdbcType=INTEGER},
      </if>
      <if test="num != null" >
        #{num,jdbcType=INTEGER},
      </if>
      <if test="pcid != null" >
        #{pcid,jdbcType=INTEGER},
      </if>
      <if test="bpreferential != null" >
        #{bpreferential,jdbcType=REAL},
      </if>
      <if test="apreferential != null" >
        #{apreferential,jdbcType=REAL},
      </if>
      <if test="bpreferentialm != null" >
        #{bpreferentialm,jdbcType=REAL},
      </if>
      <if test="servicepeo != null" >
        #{servicepeo,jdbcType=VARCHAR},
      </if>
      <if test="free != null" >
        #{free,jdbcType=VARCHAR},
      </if>
      <if test="remark1 != null" >
        #{remark1,jdbcType=VARCHAR},
      </if>
      <if test="remark2 != null" >
        #{remark2,jdbcType=VARCHAR},
      </if>
      <if test="remark3 != null" >
        #{remark3,jdbcType=VARCHAR},
      </if>
      <if test="remark4 != null" >
        #{remark4,jdbcType=VARCHAR},
      </if>
      <if test="remark5 != null" >
        #{remark5,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.accp.domain.RequisitionExample" resultType="java.lang.Integer" >
    select count(*) from requisition
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update requisition
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.bid != null" >
        bid = #{record.bid,jdbcType=VARCHAR},
      </if>
      <if test="record.rtype != null" >
        rtype = #{record.rtype,jdbcType=INTEGER},
      </if>
      <if test="record.rtime != null" >
        rtime = #{record.rtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.pno != null" >
        pno = #{record.pno,jdbcType=VARCHAR},
      </if>
      <if test="record.cno != null" >
        cno = #{record.cno,jdbcType=INTEGER},
      </if>
      <if test="record.num != null" >
        num = #{record.num,jdbcType=INTEGER},
      </if>
      <if test="record.pcid != null" >
        pcid = #{record.pcid,jdbcType=INTEGER},
      </if>
      <if test="record.bpreferential != null" >
        Bpreferential = #{record.bpreferential,jdbcType=REAL},
      </if>
      <if test="record.apreferential != null" >
        apreferential = #{record.apreferential,jdbcType=REAL},
      </if>
      <if test="record.bpreferentialm != null" >
        bpreferentialM = #{record.bpreferentialm,jdbcType=REAL},
      </if>
      <if test="record.servicepeo != null" >
        servicepeo = #{record.servicepeo,jdbcType=VARCHAR},
      </if>
      <if test="record.free != null" >
        Free = #{record.free,jdbcType=VARCHAR},
      </if>
      <if test="record.remark1 != null" >
        remark1 = #{record.remark1,jdbcType=VARCHAR},
      </if>
      <if test="record.remark2 != null" >
        remark2 = #{record.remark2,jdbcType=VARCHAR},
      </if>
      <if test="record.remark3 != null" >
        remark3 = #{record.remark3,jdbcType=VARCHAR},
      </if>
      <if test="record.remark4 != null" >
        remark4 = #{record.remark4,jdbcType=VARCHAR},
      </if>
      <if test="record.remark5 != null" >
        remark5 = #{record.remark5,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update requisition
    set id = #{record.id,jdbcType=INTEGER},
      bid = #{record.bid,jdbcType=VARCHAR},
      rtype = #{record.rtype,jdbcType=INTEGER},
      rtime = #{record.rtime,jdbcType=TIMESTAMP},
      pno = #{record.pno,jdbcType=VARCHAR},
      cno = #{record.cno,jdbcType=INTEGER},
      num = #{record.num,jdbcType=INTEGER},
      pcid = #{record.pcid,jdbcType=INTEGER},
      Bpreferential = #{record.bpreferential,jdbcType=REAL},
      apreferential = #{record.apreferential,jdbcType=REAL},
      bpreferentialM = #{record.bpreferentialm,jdbcType=REAL},
      servicepeo = #{record.servicepeo,jdbcType=VARCHAR},
      Free = #{record.free,jdbcType=VARCHAR},
      remark1 = #{record.remark1,jdbcType=VARCHAR},
      remark2 = #{record.remark2,jdbcType=VARCHAR},
      remark3 = #{record.remark3,jdbcType=VARCHAR},
      remark4 = #{record.remark4,jdbcType=VARCHAR},
      remark5 = #{record.remark5,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.accp.domain.Requisition" >
    update requisition
    <set >
      <if test="bid != null" >
        bid = #{bid,jdbcType=VARCHAR},
      </if>
      <if test="rtype != null" >
        rtype = #{rtype,jdbcType=INTEGER},
      </if>
      <if test="rtime != null" >
        rtime = #{rtime,jdbcType=TIMESTAMP},
      </if>
      <if test="pno != null" >
        pno = #{pno,jdbcType=VARCHAR},
      </if>
      <if test="cno != null" >
        cno = #{cno,jdbcType=INTEGER},
      </if>
      <if test="num != null" >
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="pcid != null" >
        pcid = #{pcid,jdbcType=INTEGER},
      </if>
      <if test="bpreferential != null" >
        Bpreferential = #{bpreferential,jdbcType=REAL},
      </if>
      <if test="apreferential != null" >
        apreferential = #{apreferential,jdbcType=REAL},
      </if>
      <if test="bpreferentialm != null" >
        bpreferentialM = #{bpreferentialm,jdbcType=REAL},
      </if>
      <if test="servicepeo != null" >
        servicepeo = #{servicepeo,jdbcType=VARCHAR},
      </if>
      <if test="free != null" >
        Free = #{free,jdbcType=VARCHAR},
      </if>
      <if test="remark1 != null" >
        remark1 = #{remark1,jdbcType=VARCHAR},
      </if>
      <if test="remark2 != null" >
        remark2 = #{remark2,jdbcType=VARCHAR},
      </if>
      <if test="remark3 != null" >
        remark3 = #{remark3,jdbcType=VARCHAR},
      </if>
      <if test="remark4 != null" >
        remark4 = #{remark4,jdbcType=VARCHAR},
      </if>
      <if test="remark5 != null" >
        remark5 = #{remark5,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.accp.domain.Requisition" >
    update requisition
    set bid = #{bid,jdbcType=VARCHAR},
      rtype = #{rtype,jdbcType=INTEGER},
      rtime = #{rtime,jdbcType=TIMESTAMP},
      pno = #{pno,jdbcType=VARCHAR},
      cno = #{cno,jdbcType=INTEGER},
      num = #{num,jdbcType=INTEGER},
      pcid = #{pcid,jdbcType=INTEGER},
      Bpreferential = #{bpreferential,jdbcType=REAL},
      apreferential = #{apreferential,jdbcType=REAL},
      bpreferentialM = #{bpreferentialm,jdbcType=REAL},
      servicepeo = #{servicepeo,jdbcType=VARCHAR},
      Free = #{free,jdbcType=VARCHAR},
      remark1 = #{remark1,jdbcType=VARCHAR},
      remark2 = #{remark2,jdbcType=VARCHAR},
      remark3 = #{remark3,jdbcType=VARCHAR},
      remark4 = #{remark4,jdbcType=VARCHAR},
      remark5 = #{remark5,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>